#main-header {
  margin-bottom: 5%;
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  color: white;
  font-size: 2em;
  text-align: center;
}

