.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.error-container {
  display: none;
}

.error-message {
  display: flex;
  flex-direction: row;
  border: 0.2em solid red;
  color: red;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  height: 3em;
  width: 80%;
  align-self: center;
}

.new-tweet button {
  font-family: "Bungee", cursive;
  background-color: #4056A1;
  color: #ffffff;
  box-shadow: 0.05em 0.05em 0.05em gray;
}

.new-tweet button:hover {
  box-shadow: none;
}

.new-tweet form {
  width: 100%;
}

label {
  font-weight: 600;
}

#tweet-text {
  width: 100%;
  height: 1.6em;
  background: transparent;
  border-top: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: solid black;
  outline: none;
  color: black;
  resize: none;
  font-family: "Source Sans Pro", cursive;
  font-weight: 300;
}


#tweet-text:focus {
  outline: none;
}

.button-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  margin-top: 2%;
  margin-bottom: 5%;
}