#tweets-container  {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.tweet {
  display: flex;
  flex-direction: column;
  border: solid black;
  padding: 3%;
  width: 100%;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}

.tweet:hover {
  box-shadow: 0.2em 0.2em 0.5em gray;
}

.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.user img {
  margin-right: 2%;
  height: 1.5em;
}

.handle {
  opacity: 0.4;
}

.tweet-content {
  border-bottom: solid black;
  padding-bottom: 3%;
  padding-left: 1%;
  margin-top: 5%;
  margin-bottom: 1%;
  font-weight: 500;
}

.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6em;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex: 1;
}

.icons i {
  margin-left: 2%;
}

.icons i:hover {
  color: darkgoldenrod;
  cursor: pointer;
}