#tweets-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
#tweets-container .tweet {
  display: flex;
  flex-direction: column;
  border: solid black;
  padding: 3%;
  width: 100%;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}
#tweets-container .tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#tweets-container .tweet header .user {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}
#tweets-container .tweet header .user img {
  margin-right: 2%;
  height: 1.5em;
}
#tweets-container .tweet header .handle {
  opacity: 0.4;
}
#tweets-container .tweet .tweet-content {
  border-bottom: solid black;
  padding-bottom: 3%;
  padding-left: 1%;
  margin-top: 5%;
  margin-bottom: 1%;
  font-weight: 500;
}
#tweets-container .tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6em;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
}
#tweets-container .tweet footer .icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex: 1;
}
#tweets-container .tweet footer .icons i {
  margin-left: 2%;
}
#tweets-container .tweet footer .icons i:hover {
  color: darkgoldenrod;
  cursor: pointer;
}
#tweets-container .tweet:hover {
  box-shadow: 0.2em 0.2em 0.5em gray;
}
